GEMINI_API_KEY=
GEMINI_API_BASE=https://generativelanguage.googleapis.com

HOST=
DATABASE=
USER=
PASSWORD=
DB_PORT_EXTERNAL=
DB_PORT_INTERNAL=

DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL='https://aihubmix.com/v1'